
img {
    border:#236192;
    padding: 10px;
    height: 200px;
    width: 200px;
}

.container {
    align-items: stretch | flex-start | flex-end | center | baseline |
    first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe
}

.buttonSubmit {
    background-color: rgb(39, 79, 114); 
    color: white"
}

p {
    background-color: rgb(39, 79, 114); 
    color: white"
}

h5 {
    background-color: rgb(39, 79, 114); 
    color: white"
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

